body{
	padding: 0;
	margin: 0;
}
.head{
	width: 100%;
	text-align: center;
	background-color: #294c62;
	color: white;
	padding: 10px 0 30px;
	max-width: 900;
	font-family: arial;
	margin: 0;
}
@media screen and (max-width: 914px){
	.head{
		/*padding: 10px 5px 30px;*/
	}
}
.head h2{
	font-size: 18px;
	font-weight: 200;
}

.btn{
	font-size: 19px;
	font-weight: 600;
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 7px;
	width: 90%;
	border-radius: 5px;
	display: inline-block;
}
@media screen and (min-width: 413px){
.btn{
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	color: white;
	background-color: #579d9f;
	padding: 7px;
	width: 120px;
	border-radius: 5px;
	display: inline-block;
}
}




footer .container{
	text-align: center;
	background-color: #353535;
	bottom: 0;
	position: absolute;
	width: 100%;
	padding: 15px 0 1px; 

}
footer p{
	color: #878787;
}
footer a{
	color: #c3c3c3;
	text-decoration: none;
	font-family: arial;
	display: inline-block;
	padding:0px 10px;
	font-weight: 600;

}

@media screen and (max-width: 914px){
	footer a{
		display: block;
		line-height: 2;
		font-weight: 600;
	}
	footer{
		display: block;
		position: relative;
	}
}




.contain{
	margin-top: 75px;
	/*position: relative;*/
	/*top: 75px;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	display: flex;
}
.contain #feature{
	display: inline-block;
	flex: 1;
	text-align: center;
}
#feature p{
	font-family: arial;
	font-weight: 600;
	font-variant: small-caps;
	font-size: 25px;
}
#feature img{
	width: 50%;
}


@media screen and (max-width: 914px){
	.contain{
		position: relative;
		margin-top: 60px;
		display: block;
	}
	.contain #feature{
		display: block;
		display: flex;
		margin: 46px 0;
		position: relative;
		width: 90%;
		left: 10px;
	}
	.contain #feature p{
		text-align: left;
		padding-left: 10px;
		font-size: inherit;
	}
}



 















#float{
	border-radius: 5px;
	height: 150px;
	width: 25%;
	text-align: center;
	background-color: #d3e9f9;
	top: 14rem;
	right: 24rem;
	position: absolute;
	visibility: hidden;

}
@media screen and (max-width: 914px){
	#float{
		left: 20px;
		width: 90%;
		position: absolute;
		display: block;
		visibility: hidden;

	}
}

.quote{
	background-color: #579d9f;
	position: absolute;
	bottom: 9%;
	width: 100%;

}
@media screen and (max-width: 914px){
	.quote{
		/*bottom: 17%;*/
		margin: 0px 0px 150px;
		display: block;
		position: relative;
	}
}
.quote .con{
	font-weight: 600;	
	color:  white;
	text-align: center;
	font-family: arial;
	padding: 10px 30px 30px;
	position: relative;
}

.con cite::before{
	content: '-';
}
.con p{
	font-size: 24px;
}
.con cite{
	font-size: 16px;
}
